body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}
.year {
  color: red;
}

header {
  background-color: #f5f5f5;
  top: 0;
  text-align: center;
  width: 100%;
}

section {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: flex-start;
  padding-top: 60px;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: content;
  background-position: center;
  flex-grow: 1;
}

.main-div {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.link-flux {
  margin-top: 20px;
  color: black;
}
.link-flux:visited {
  color: black;
}
.link-flux:hover {
  font-size: 1.3em;
}
footer {
  background-color: #f5f5f5;
  text-align: center;
  width: 100%;
}
